<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nultrainone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <!-- <meta-data android:name="JPUSH_CHANNEL" android:value="${APP_CHANNEL}" /> -->

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <provider android:authorities="com.facebook.app.FacebookContentProvider216902495534836"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>

      <activity
                android:name="com.ultrainone.wxapi.WXEntryActivity"
                android:label="@string/app_name"
                android:exported="true"
      />
      <activity
                android:name="com.ultrainone.wxapi.WXPayEntryActivity"
                android:label="@string/app_name"
                android:exported="true"
      />
    </application>

</manifest>
